<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <httpModules>
        <clear/>
      </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />  
    </system.webServer>

    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="binaryhttp">
                    <binaryMessageEncoding />
                    <httpTransport maxReceivedMessageSize="1000000000" />
                </binding>
                <binding name="binaryhttp1">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="binaryhttp11">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="binaryhttp2">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="binaryhttp3">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/wsFCMessages/Service.svc"
                binding="customBinding" bindingConfiguration="binaryhttp"
                contract="FCMessages.IMessageService" name="binaryhttp" />
            <endpoint address="http://localhost/wsFCCommon/Service.svc" binding="customBinding"
                bindingConfiguration="binaryhttp1" contract="FCCommon.ICommonService"
                name="binaryhttp1" />
            <endpoint address="http://localhost/wsFCCommon/Service.svc" binding="customBinding"
                bindingConfiguration="binaryhttp11" contract="FCCommon.IRoutePlanningService"
                name="binaryhttp11" />
            <endpoint address="http://localhost/wsFCCommon/Service.svc" binding="customBinding"
                bindingConfiguration="binaryhttp2" contract="FCCommon.IAlertManagerService"
                name="binaryhttp2" />
            <endpoint address="http://localhost/wsFCCommon/Service.svc" binding="customBinding"
                bindingConfiguration="binaryhttp3" contract="FCCommon.INotificationService"
                name="binaryhttp3" />
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="AngularFV.services.MessagesAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="AngularFV.services.Messages">
                <endpoint address="" behaviorConfiguration="AngularFV.services.MessagesAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="AngularFV.services.Messages" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
