<div class="preview">
    <div class="header">
        {{message.header}}
    </div>
    <div class="body">
        <table>
            <tr>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th width="100px"></th>
                                <th width="130px"></th>
                            </tr>
                        </thead>
                        <tr>
                            <td>Message Id</td>
                            <td style="font-weight: bold">{{message.id}}</td>
                        </tr>
                        <tr>
                            <td>Vehicle</td>
                            <td>{{message.who}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div class="text">
                        {{message.text}}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>